* {
    border: none;
    border-radius: 0;
    font-weight: 400;
    font-family: 'SF Mono';
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.35));
    color: honeydew;
}

#tags button {
    padding: 0 0.75em;
    background: transparent; color: lightsteelblue;
}

#tags button.focused {
    color: white;
}

#clock, #battery, #backlight, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 7px;
    margin: 0 2px;
}

#clock {
    font-weight: 600;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}

